<p id="notice"><%= notice %></p>

<p>
  <strong>期限:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category.categoryname %>
</p>

<p>
  <strong>タスク:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>実施区分:</strong>
  <%= @task.done %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user.username %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
